<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
	<!-- Main Content -->
	<div id="content">

		<!-- Header -->
	  	<%- include('partials/header.ejs') -%>
	  	<!-- End of Header -->

	  	<!-- Begin Page Content -->
  		<div class="container-fluid">
			<div style="width:100%">			
				<h1 style="text-align:center;margin-top:30px;">Welcome to <%= (currentUser.roles == 1) ? 'Admin' : 'SubAdmin'; %>  Dashboard</h1>
			</div>
		</div>
	</div>
<!-- End of Main Content -->