<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg" style="margin-top: 8rem !important;">
          <div class="card-body p-0">
            
            <!-- Nested Row within Card Body -->
            <div class="row">
              
              <div class="col-lg-9" style="margin: 0 auto;">
                
                <!-- Loader -->
                <div class="loading" style="display: none">
                    <div class="loader"></div>
                </div>

                <div class="p-5">
                    <div class="text-center">
        
                        <h2 class="text-gray-900 mb-4">Forgot Your Password ?</h2>
                        <p class="mb-5">Don't worry. Recovering the password is easy. Just tell us the email you have registered with us</p>
                        <div id="message"  style="margin:-20px 0 10px 0; width:100%;">
                            <div class="profile-notification-msg p-2">
                              <p class="successmsg"> <%= messages.successmsg %> </p>
                              <p class="errormsg"> <%= messages.errormsg %> </p>
                            </div>
                        </div>
                        <form name="forgotPassword" id="forgotPassword" class="form-detail was-validated needs-validation" method = "post" action="forgotPassword">
                            <div class="form-group">
                                <label class="sr-only" for="email-1">Email address</label>
                                <input type="email" class="form-control" id="email" name="email" aria-describedby="email-1" placeholder="Enter email" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary text-uppercase">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
              </div>
            </div>

          </div>
        </div>

       </div>
    </div>
    <!-- //Outer Row -->

</div>            