<footer class="sticky-footer bg-secondary">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span class="text-white" style="font-weight: bold">DGNETA</span>
            </div>
          </div>
</footer>